/**************** Certificate Component **********/
.Achievement {
  &__Container {
    margin: 2.5rem 5rem;
  }
  &__Sub-Container {
    margin: 1.5rem 0;
    display: grid;
    grid-template-columns: 70% repeat(2, 3rem);
    justify-content: space-between;
  }
  &__li {
    position: relative;
    &:not(:last-child)::after {
      top: 3rem;
    }
  }
  &__Img,
  &__Link {
    height: 3rem;
    cursor: pointer;
    @media print {
      visibility: hidden;
    }
  }
  &__Summary {
    font-size: 2rem;
    color: $color-grey;
    grid-column: 1 / -1;
  }
}
