/**************** Education Details Component ******/
.Education {
  &__Container {
    overflow: hidden;
  }
  &__degree {
    font-size: 2.5rem;
    font-weight: bold;
  }
  &__institute {
    font-size: 2.5rem;
    font-style: italic;
    color: $color-secondary-black;
  }
  &__duration {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 2.25rem;
    margin-top: 0.5rem;
    color: $color-light-blue;
    @media screen and (max-width: 480px) {
      font-size: 7.5rem;
    }
  }
  &__Score {
    justify-self: end;
  }

  &__mainli {
    padding-bottom: 2rem;
  }
  &__li {
    list-style: none;
  }
  &__specialisation {
    font-size: 1.5rem;
    text-indent: -0.8rem;
    &:before {
      content: "-";
      color: $color-blue;
      position: relative;
      left: -1.5rem;
      top: 0.2rem;
      font-size: 2.5rem;
    }
  }
}
