/********************** General CSS  ************/

.App {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-bottom: 15rem;
}

.list {
  list-style: none;
  height: auto;
  position: relative;
  &::before {
    content: " ";
    position: absolute;
    left: -3.5rem;
    top: 1rem;
    height: 1rem;
    width: 1rem;
    z-index: 1;
    border: 0.5rem solid $color-blue;
    border-radius: 50%;
    background-color: $color-white;
    @media screen and (max-width: 480px) {
      border: 2px solid #4685c6;
    }
  }
  &:not(:last-child)::after {
    content: "";
    width: 2px;
    position: absolute;
    top: 2rem;
    left: -2.6rem;
    height: 100%;
    background-color: $color-blue;
    @media screen and (max-width: 480px) {
      left: -2.8rem;
    }
  }
}
