.pl {
  &-2 {
    padding-left: 2rem;
  }
  &-5 {
    padding-left: 5rem;
  }
  &-7 {
    padding-left: 7rem;
  }
}
.mt {
  &-2 {
    margin-top: 2rem;
  }
}
.pos {
  &__rel {
    position: relative;
  }
}
